@model IEnumerable<OrderLife.Models.Accounts>

@{
    ViewBag.Title = "Index";
}

<h2>Accounts</h2>


<p>
    Like most people, you have probably accounts with dozens of differnet companies and websites. Some people have a hard time keeping track
    of everything that they're a part of. Listing all of your accounts will help you to remember to keep them up.
</p>
<p>
    @Html.ActionLink("Add Account", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            OtherInfo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
