@model OrderLife.Models.Finances

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Finances</legend>

    <div class="display-label">Room</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room)
    </div>

    <div class="display-label">Utilities</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Utilities)
    </div>

    <div class="display-label">Transportation</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Transportation)
    </div>

    <div class="display-label">Media</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Media)
    </div>

    <div class="display-label">Debt</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Debt)
    </div>

    <div class="display-label">Other</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Other)
    </div>

    <div class="display-label">Food</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Food)
    </div>

    <div class="display-label">Income</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Income)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
