@model OrderLife.Models.Finances

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Finances</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Room)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Room)
            @Html.ValidationMessageFor(model => model.Room)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Utilities)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Utilities)
            @Html.ValidationMessageFor(model => model.Utilities)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Transportation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Transportation)
            @Html.ValidationMessageFor(model => model.Transportation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Media)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Media)
            @Html.ValidationMessageFor(model => model.Media)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Debt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Debt)
            @Html.ValidationMessageFor(model => model.Debt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Other)
            @Html.ValidationMessageFor(model => model.Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Food)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Food)
            @Html.ValidationMessageFor(model => model.Food)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Income)
            @Html.ValidationMessageFor(model => model.Income)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
