@model OrderLife.Models.Finances

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Finances</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Room)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Room)
            @Html.ValidationMessageFor(model => model.Room)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GasHouse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GasHouse)
            @Html.ValidationMessageFor(model => model.GasHouse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Electricity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Electricity)
            @Html.ValidationMessageFor(model => model.Electricity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Water)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Water)
            @Html.ValidationMessageFor(model => model.Water)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OtherUtilities)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherUtilities)
            @Html.ValidationMessageFor(model => model.OtherUtilities)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarPayment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarPayment)
            @Html.ValidationMessageFor(model => model.CarPayment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CarInsurance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarInsurance)
            @Html.ValidationMessageFor(model => model.CarInsurance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GasCar)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GasCar)
            @Html.ValidationMessageFor(model => model.GasCar)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublicTransportation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublicTransportation)
            @Html.ValidationMessageFor(model => model.PublicTransportation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OtherTransportation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherTransportation)
            @Html.ValidationMessageFor(model => model.OtherTransportation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CellPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CellPhone)
            @Html.ValidationMessageFor(model => model.CellPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HousePhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HousePhone)
            @Html.ValidationMessageFor(model => model.HousePhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TVPlan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TVPlan)
            @Html.ValidationMessageFor(model => model.TVPlan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Internet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Internet)
            @Html.ValidationMessageFor(model => model.Internet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OtherMedia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherMedia)
            @Html.ValidationMessageFor(model => model.OtherMedia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoanPayments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoanPayments)
            @Html.ValidationMessageFor(model => model.LoanPayments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OtherMonthlyLoanPayments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherMonthlyLoanPayments)
            @Html.ValidationMessageFor(model => model.OtherMonthlyLoanPayments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Other)
            @Html.ValidationMessageFor(model => model.Other)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Food)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Food)
            @Html.ValidationMessageFor(model => model.Food)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Income)
            @Html.ValidationMessageFor(model => model.Income)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
