@model OrderLife.Models.Finances

@{
    ViewBag.Title = "Edit";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New Budget</legend>

        @Html.HiddenFor(model => model.ID)
<p><b>How much do you pay for your housing every month (rent or mortgage)?</b></p> 
        <div class="editor-label">
            @Html.LabelFor(model => model.Room)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Room)
            @Html.ValidationMessageFor(model => model.Room)
        </div>
<p><b>How much for utilities?</b></p>
        <div class="editor-label">
            Gas (Heating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GasHouse)
            @Html.ValidationMessageFor(model => model.GasHouse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Electricity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Electricity)
            @Html.ValidationMessageFor(model => model.Electricity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Water)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Water)
            @Html.ValidationMessageFor(model => model.Water)
        </div>

        <div class="editor-label">
            Other Utilities
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherUtilities)
            @Html.ValidationMessageFor(model => model.OtherUtilities)
        </div>
<p><b>How much do you pay for transportation each month?</b></p>
        <div class="editor-label">
            Car Payment
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarPayment)
            @Html.ValidationMessageFor(model => model.CarPayment)
        </div>

        <div class="editor-label">
            Car Insurance
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CarInsurance)
            @Html.ValidationMessageFor(model => model.CarInsurance)
        </div>

        <div class="editor-label">
            Gas 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GasCar)
            @Html.ValidationMessageFor(model => model.GasCar)
        </div>

        <div class="editor-label">
            Public Transportation
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublicTransportation)
            @Html.ValidationMessageFor(model => model.PublicTransportation)
        </div>

        <div class="editor-label">
            Other Transportation Costs
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherTransportation)
            @Html.ValidationMessageFor(model => model.OtherTransportation)
        </div>

<p><b>What are you monthly media expenses?</b></p>

        <div class="editor-label">
            Cell Phone Plan
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CellPhone)
            @Html.ValidationMessageFor(model => model.CellPhone)
        </div>

        <div class="editor-label">
            House Phone Bill
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HousePhone)
            @Html.ValidationMessageFor(model => model.HousePhone)
        </div>

        <div class="editor-label">
            Television Plan (Cable or Otherwise)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TVPlan)
            @Html.ValidationMessageFor(model => model.TVPlan)
        </div>

        <div class="editor-label">
            Internet Plan (if shared with the television plan, make sure to list total montly cost only once)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Internet)
            @Html.ValidationMessageFor(model => model.Internet)
        </div>

        <div class="editor-label">
            Other Monthly Media Costs (online media accounts, games or game consoles that charge monthly, etc.)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherMedia)
            @Html.ValidationMessageFor(model => model.OtherMedia)
        </div>

<p><b>Do you make monthly loan payments? (not including mortgages)</b></p>

        <div class="editor-label">
            School Loan Payments
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoanPayments)
            @Html.ValidationMessageFor(model => model.LoanPayments)
        </div>

        <div class="editor-label">
            Other Monthly Debt Payments
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtherMonthlyLoanPayments)
            @Html.ValidationMessageFor(model => model.OtherMonthlyLoanPayments)
        </div>
<p><b>Not everyone keeps a monthly food budget, but if you do, plug in the number:</b></p>
        <div class="editor-label">
            @Html.LabelFor(model => model.Food)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Food)
            @Html.ValidationMessageFor(model => model.Food)
        </div>
<p><b>Do you have any other monthly expenses you'd like to account for?</b></p>
        <div class="editor-label">
            @Html.LabelFor(model => model.Other)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Other)
            @Html.ValidationMessageFor(model => model.Other)
        </div>
<p><b>How much do you make every month (after taxes)?</b></p>
        <div class="editor-label">
            @Html.LabelFor(model => model.Income)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Income)
            @Html.ValidationMessageFor(model => model.Income)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
} 
<p>Behold your rough money plot. You're becoming more on-the-ball already. How about we take a look at your health?</p>

