@model OrderLife.Views.Finance.ViewModels.FinancesViewModelIndex

@{
    ViewBag.Title = "Index";
}

<h2>Finances</h2>

@* @Html.ActionLink("________", "Create", new { Day = day, Time = time })*@

   @Html.ActionLink("Health", "HealthHub1", "Health")
<p>
    @Html.ActionLink("Start New", "Create", new { Room = 0,
GasHouse= 0,
Electricity= 0,
Water= 0,
OtherUtilities= 0,
CarPayment= 0,
CarInsurance= 0,
GasCar= 0,
PublicTransportation= 0,
OtherTransportation= 0,
CellPhone= 0,
HousePhone= 0,
TVPlan= 0,
Internet= 0,
OtherMedia= 0,
LoanPayments= 0,
OtherMonthlyLoanPayments= 0,
Other= 0,
Food= 0,
Income= 0,})
</p>

<table>
@foreach (var item in Model.finances) {
    <tr> 
        <tr>
            @Html.DisplayFor(modelItem => item.Room)
            @Html.DisplayFor(modelItem => item.GasCar)
        </tr>
    </tr>
}
</table>
<table>    
        <tr>
            <td>Room</td>
        </tr>
        <tr>
            <td>GasHouse</td>
        </t>
        <tr>
            <td>Electricity</td>
        </tr>
        <tr>
            <td>Water</td>
        </tr>
        <tr>
            <td>OtherUtilities</td>
        </tr>
        <tr>
            <td>CarPayment</td>
        </tr>
        <tr>
            <td>CarInsurance</td>
        </tr>
        <tr>
            <td>GasCar</td>
        </tr>
        <tr>
            <td>PublicTransportation</td>
        </tr>
        <tr>
            <td>OtherTransportation</td>
        </tr>
        <tr>
            <td>CellPhone</td>
        </tr>
        <tr>
            <td>HousePhone</td>
        </tr>
        <tr>
            <td>TVPlan</td>
        </tr>
        <tr>
            <td>Internet</td>
        </tr>
        <tr>
            <td>OtherMedia</td>
        </tr>
        <tr>
            <td>LoanPayments</td>
        </tr>
        <tr>
            <td>OtherMonthlyLoanPayments</td>
        </tr>
        <tr>
            <td>Other</td>
        </tr>
        <tr>
            <td>Food</td>
        </tr>
        <tr>
            <td>Income</td>
        </tr>
</table>
    
<table>
@foreach (var item in Model.finances) {
    <tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Room)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.GasHouse)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Electricity)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Water)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.OtherUtilities)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.CarPayment)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.CarInsurance)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.GasCar)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.PublicTransportation)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.OtherTransportation)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.CellPhone)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.HousePhone)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.TVPlan)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Internet)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.OtherMedia)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.LoanPayments)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.OtherMonthlyLoanPayments)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Other)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Food)
        </tr>
        <tr>
            @Html.DisplayFor(modelItem => item.Income)
        </tr>
        <tr>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </tr>
    </tr>
}

</table>
