@model IEnumerable<OrderLife.Models.Finances>

@{
    ViewBag.Title = "Index";
}

<h2>Finances</h2>


<p>If you are still following this tutorial, I can only assume it is because, as a person from the 18th century, you cannot operate a computer
and so have been hitting random keys and ended up  here accidentally. BUT while you're here, it may help you to acquaint yourself with typical
21st century expenses.</p>
<p>You are about to make a bare-bones budget. It can be 100% accurate to your situation, if the numbers you submit are 100% accurate.</p> 
<p>Some of these general expenses may not apply to you, in which case submit a $0 for that expense. And you may have some expenses that are not
listed, which you can add up and place in the 'Other' category.</p>
<p>How much do you pay for your housing every month (rent or mortgage)?</p>
<p>How much for utilities?</p>
<p>How much do you pay for transportation each month?</p>
<p>What are you monthly media expenses?</p>
<p>Do you make monthly loan payments?</p>
<p>If you have monthly food budget, plug in the number:</p>
<p>Do you have any other monthly expenses?</p>
<p>How much do you make every month (after taxes)?</p>
<p>Behold your rough money plot. You're becoming more on-the-ball already. How about we take a look at your health?</p>
   @Html.ActionLink("Health", "HealthHub1", "Health")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Room
        </th>
        <th>
            GasHouse
        </th>
        <th>
            Electricity
        </th>
        <th>
            Water
        </th>
        <th>
            OtherUtilities
        </th>
        <th>
            CarPayment
        </th>
        <th>
            CarInsurance
        </th>
        <th>
            GasCar
        </th>
        <th>
            PublicTransportation
        </th>
        <th>
            OtherTransportation
        </th>
        <th>
            CellPhone
        </th>
        <th>
            HousePhone
        </th>
        <th>
            TVPlan
        </th>
        <th>
            Internet
        </th>
        <th>
            OtherMedia
        </th>
        <th>
            LoanPayments
        </th>
        <th>
            OtherMonthlyLoanPayments
        </th>
        <th>
            Other
        </th>
        <th>
            Food
        </th>
        <th>
            Income
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasHouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherUtilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarInsurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicTransportation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherTransportation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HousePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TVPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Internet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherMedia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanPayments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherMonthlyLoanPayments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
