@model OrderLife.Views.Finance.ViewModels.FinancesViewModelIndex

@{
    ViewBag.Title = "Index";
}

<h2>Finances</h2>



   @Html.ActionLink("Health", "HealthHub1", "Health")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr><table>
@foreach (var item in Model.finances) {
    <tr> 
        <td>
            @Html.DisplayFor(modelItem => item.ID)
            @Html.DisplayFor(modelItem => item.Income)
        </td>
    </tr>
}
</table>
        <th>
            Room
        </th>
        <th>
            GasHouse
        </th>
        <th>
            Electricity
        </th>
        <th>
            Water
        </th>
        <th>
            OtherUtilities
        </th>
        <th>
            CarPayment
        </th>
        <th>
            CarInsurance
        </th>
        <th>
            GasCar
        </th>
        <th>
            PublicTransportation
        </th>
        <th>
            OtherTransportation
        </th>
        <th>
            CellPhone
        </th>
        <th>
            HousePhone
        </th>
        <th>
            TVPlan
        </th>
        <th>
            Internet
        </th>
        <th>
            OtherMedia
        </th>
        <th>
            LoanPayments
        </th>
        <th>
            OtherMonthlyLoanPayments
        </th>
        <th>
            Other
        </th>
        <th>
            Food
        </th>
        <th>
            Income
        </th>
        <th></th>
    </tr>
@*
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasHouse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electricity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Water)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherUtilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarPayment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarInsurance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublicTransportation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherTransportation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HousePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TVPlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Internet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherMedia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanPayments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherMonthlyLoanPayments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Food)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Income)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
*@
</table>
