@{
    ViewBag.Title = "HealthHub1";
}

<h2>Health</h2>


<p>You've made it this far! Feeling good, right? And you've gotten the hang of the computer? Great. Well lets start organizing your health
 concerns. What's a 'hellth consurn', you ask? Well now that we have affordable medicine most of us try to extend our lifespan by treating
 our bodies' illnesses. Also, as not too many of us work out in the fields these days, we have to work twice as hard to not end up morbidly 
 obese! Taking care of the body is another one of those major areas of life that clutters our minds with innumerable details, so this 
 page is dedicated to sorting them out.</p>

<p>These days, everyone has their own way of taking care of their body, so not every one of the following categories may be of use to you.</p>
<p></p>
<p></p>
<p></p>
<p>
    @Html.ActionLink("Exercise", "Index", "Health")
</p>
<p>
    @Html.ActionLink("Doctor Information", "Index", "Doctor")
</p>
<p>
    @Html.ActionLink("Medications", "Index", "Medications")
</p>
<p>
    @Html.ActionLink("Diets", "Index", "DailyDiet")
</p>
<p>
    @Html.ActionLink("Recipes", "Index", "Recipes")
</p>