@{
    ViewBag.Title = "HealthHub1";
}

<h2>Health</h2>

<p>
    @Html.ActionLink("Exercise!", "Index", "Health")
</p>
<p>
    @Html.ActionLink("Doctor Information", "Index", "Doctor")
</p>
<p>
    @Html.ActionLink("Medications", "Index", "Medications")
</p>
<p>
    @Html.ActionLink("Diets", "Index", "DailyDiet")
</p>
<p>
    @Html.ActionLink("Recipes", "Index", "Recipes")
</p>