@{
    ViewBag.Title = "HealthHub1";
}

<h2>Health</h2>


<p>These days, everyone has their own way of taking care of their body, so not every one of the following categories may be of use to you.</p>
<p></p>
<p></p>
<p></p>
<p>
    @Html.ActionLink("Exercise", "Index", "Health") : Manage your workout routine.
</p>
<p>
    @Html.ActionLink("Doctor Information", "Index", "Doctor") : Store doctor information.
</p>
<p>
    @Html.ActionLink("Medications", "Index", "Medications") : Store medical information.
</p>
<p>
    @Html.ActionLink("Diets", "Index", "DailyDiet") : Manage your diets. 
</p>
<p>
    @Html.ActionLink("Recipes", "Index", "Recipes") : Store diet-specificic or otherwise recipes. 
</p>