@model IEnumerable<OrderLife.Models.Exercises>

@{
    ViewBag.Title = "Index";
}

<h2>Exercise Regimen</h2>
<a href="#" id="clicker">CLicker</a>
<p>
    @Html.ActionLink("Add Exercise", "Create")
</p>
<table id="timestable">
    <tr>
        <th>
            Day
        </th>
        <th>
            Time
        </th>
        <th>
            Exercise
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                   @switch(item.Day){
                case 1:
                    <p>Sunday</p>;
                    break;
                case 2:
                    <p>Monday</p>;
                    break;
                case 3:
                    <p>Tuesday</p>;
                    break;
                case 4:
                    <p>Wednesday</p>;
                    break;
                case 5:
                    <p>Thursday</p>;
                    break;
                case 6:
                    <p>Friday</p>;
                    break;
                case 7:
                    <p>Saturday</p>;
                    break;
            }
        </td>
        <td class="times">
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
<p> </p>
<p> </p>
<p> </p>
<table border="1">
    <tr>
        <th></th><th>Sunday</th><th></th><th>Monday</th><th></th><th>Tuesday</th><th></th><th>Wednesday</th><th></th>
        <th>Thursday</th><th></th><th>Friday</th><th></th><th>Saturday</th>
    </tr>
</table>
<script type="text/javascript">
    var sumTimes = function () {
        //event.preventDefault();
        var times = $(".times");
        var sum = 0;
        for (var x = 0; x <= times.length - 1; x++) {
            var t = parseInt($(times[x]).text());
            sum = sum + t;
        }
        return sum;
    };
    //$("#clicker").click(sumTimes);
    $(document).ready(function(){
        var sum = sumTimes();
        $('#timestable tr:last').after('<tr><td>Total:</td><td>' + sum + '</td></tr>');
    });
</script>


