@model IEnumerable<OrderLife.Models.Exercises>

@{
    ViewBag.Title = "Index";
}

<h2>Exercise Regimen</h2>

<p>
    @Html.ActionLink("Add Exercise", "Create")
</p>
<table>
    <tr>
        <th>
            Day
        </th>
        <th>
            Time
        </th>
        <th>
            Exercise
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
                   @switch(item.Day){
                case 1:
                    <p>Sunday</p>;
                    break;
                case 2:
                    <p>Monday</p>;
                    break;
                case 3:
                    <p>Tuesday</p>;
                    break;
                case 4:
                    <p>Wednesday</p>;
                    break;
                case 5:
                    <p>Thursday</p>;
                    break;
                case 6:
                    <p>Friday</p>;
                    break;
                case 7:
                    <p>Saturday</p>;
                    break;
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
<p> </p>
<p> </p>
<p> </p>
<table border="1">
    <tr>
        <th></th><th>Sunday</th><th></th><th>Monday</th><th></th><th>Tuesday</th><th></th><th>Wednesday</th><th></th>
        <th>Thursday</th><th></th><th>Friday</th><th></th><th>Saturday</th>
    </tr>
</table>



