@model OrderLife.Views.Health.ViewModels.ExerciseViewModelIndex


@{
    ViewBag.Title = "Index";
}

<h2>My Exercise Plan</h2>

<p> This page will let you plan an exercise routine and fit it into your weekly schedule. To make ingrain it in your mind, feel free to 
give your routine a description and name below.</p>

@if (Model.workouts.Count > 0) {
    foreach (var item in Model.workouts) {     
            <p><b>Name of Plan:</b> @Html.DisplayFor(modelItem => item.Name)</p>      
            <p><b>Goals/Methods:</b> @Html.DisplayFor(modelItem => item.Description)</p>
            <p>@Html.ActionLink("Delete", "DeleteWorkout", new { id = item.ID }) |@Html.ActionLink("Edit", "EditWorkout", new { id = item.ID }) </p> 
    }
} else { 
    @Html.ActionLink("Add Name and Goals to your plan", "CreateWorkout", "Health")  
    }
<table border="1">
    <tr>
        <th></th><th>Sunday</th><th>Monday</th> <th>Tuesday</th><th>Wednesday</th> <th>Thursday</th><th>Friday</th><th>Saturday</th>
    </tr>
    
    @for (var time = 6; time < 24; time++) {
        <tr><td>
            @if (time == 24 || time == 12) {
                <div>12</div>
            } else {
                @((time) % 12) 
            }
            @if (time < 12) {
                <div>:00 AM</div>
            } else { 
                <div>:00 PM</div>
            }
            </td>
        @for (var day = 0; day < 7; day++) {
            <td>
            @if (Model.TableData[day, time] != null && !String.IsNullOrEmpty(Model.TableData[day, time].Exercise)) {
                @Html.ActionLink(Model.TableData[day, time].Exercise, "Edit", new { id = Model.TableData[day, time].ID })
                using (Html.BeginForm("Delete", "Health", new RouteValueDictionary { { "id", @Model.TableData[day, time].ID } })) {
                    <input type="submit" value="Delete" /> 
                }
            } else { 
                @Html.ActionLink("________", "Create", new { Day = day, Time = time })
            }
            </td>
        }
        </tr>
    }
    
</table>



