@{
    ViewBag.Title = "Home Page";
}



<p>With all this time travel lately, droves of displaced refugees have been shipped to our time for the penicillin and government checks. 
The average 21st century life is more complicated than in times past--there are more moving parts than even some of us natives can handle. 
And so this site is my attempt to reach out to the confused and overwhelmed people who have a hard time keeping track of the details 
of the 21st century day-by-day.</p>

<h2>21st Century for the 18th Century Mind.</h2>
<h4>About</h4>
<h5>
    <p>
        The method is simple. If you are having a hard time keeping track of the details, the first step will be to get those details
        better ingrained in your mind. The overarching question is: what are all things I have to deal with? 
    </p>
    <p>
        To get your brain juices flowing 
        in that direction, you will be asked a series of small questions to which you will give small answers, which you will then write down.
        This is an age-old educational trick. The question will get you to think of the answer, and the writing will help you to remember it later. 
    </p>
    <p>
        These questions will all be along the lines of the larger categories of daily stuff in the 21st century life. By the end of the process you 
        will be able to hold in your (virtual) hand and in your mind a large chunk of the daily details you have trouble with. And having
        worked it out will have trained your mind how to do so in other areas of your life.
    </p>
  </h5>


<p>How do we spend our time in the 21st Century? Click for help managing your day.</p>
<p>@Html.ActionLink("Order Time", "Index", "Time")</p>    
<p>Where does all your money go? This simple method will help you keep a handle on your money.</p>
<p>@Html.ActionLink("Handle Money", "Index", "Finance")</p> 
<p>These days we spend less time on the farm, and so more time worrying about our bodies. Need help keeping track of exercise, diet, and other health concerns?</p>
<p>@Html.ActionLink("Track Health Factors", "HealthHub1", "Health") (workouts, doctors and medicine, food and diets)</p>   
<p>This is the era of instantaneous membership. The people of the 21st century maintain many working relationships on paper and online. Click to manage your accounts.</p>
<p>@Html.ActionLink("Manage Accounts", "Index", "Accounts")</p>      
<p>Now that you're here, you may want to take up a hobby. For some help getting started...</p>
<p>@Html.ActionLink("Document your Hobbies", "Index", "Hobbies")</p>
<p></p>
<p></p>
<p></p>