@model IEnumerable<OrderLife.Models.DailyDiet>

@{
    ViewBag.Title = "Index";
}

<h2>Daily Diet Plan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            StartDate
        </th>
        <th>
            Goals
        </th>
        <th>
            Method
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Goals)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Method)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add Entry to Daily Diet", "Create", "DailyDietEntry")
</p>

<p>
    Or would you prefer a 7-Day Diet Planner?
</p>

<p>
    @Html.ActionLink("Add Entry to 7-Day Plan", "Create", "WeeklyDietEntry")
</p>

<p>
    Add a diet-specific recipe to your recipe list?
</p>

<p>
    @Html.ActionLink("Add Recipe", "Create", "Recipe")
</p>

