@model OrderLife.Models.Appointments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Appointments</legend>

    <div class="display-label">Day</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Day)
    </div>

    <div class="display-label">Time</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">AppointmentValue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AppointmentValue)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
