@model OrderLife.Views.Time.ViewModel.AppointmentIndexViewModel

@{
    ViewBag.Title = "Index";
}

@switch(Model.Step){        
    case 2:
        <p>Now add in the times set aside to eat, sleep, and practice daily hygene (most of us in this century shower everyday).</p>
        break;
    case 3:
        <p>Next enter all weekly activities that have set times (such as club meetings, church, weekly get-togethers with friends or family, etc.)</p>
        break;
    case 4:
        <p>If you'd like to, schedule in times for chores and other managment activities that need to be performed weekly. </p>
        break;
    case 5:
        <p>All time not taken up in your schedule at this point is what we call "free time,"
        meaning that it is what is left over after you have met all responsbilities to your job/vocation, daily rituals, sub-communities, and household.
        If you have any hobbies or anything left over that you want to make time for, place them where you would like in your schedule. </p>
        break;
    case 6:
        <p>Organizing one's time is the first step to organizing the whole life. The next big step would be to take a short look at how to spend your money.</p>
           @Html.ActionLink("Finances", "Index", "Finance")
        break;
    default: 
        <p>Do you have a hard time keeping track of your time? Start small, adding to the schedule one step at a time.</p>
        <p>First add to the schedule the daily activites that you absolutely cannot blow off AND that have set times (such as work or class).</p>
        break;

}
@if (Model.Step < 6) {
    @Html.ActionLink("Done!", "Index", new { Step = Model.Step + 1 });
}


<table>
@foreach (var item in Model.hobbies) {
    <tr> 
        <td>
            @Html.DisplayFor(modelItem => item.ID)
            @Html.DisplayFor(modelItem => item.Journal)
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}
</table>


<h2>Schedule</h2>

<table border="1">
    <tr>
        <th></th><th>Sunday</th><th>Monday</th> <th>Tuesday</th><th>Wednesday</th> <th>Thursday</th><th>Friday</th><th>Saturday</th>
    </tr>
    
    @for (var time = 6; time < 24; time++) {
        <tr><td>
            @if (time == 24 || time == 12) {
                <div>12</div>
            } else {
                @((time) % 12) 
            }
            @if (time < 12) {
                <div>:00 AM</div>
            } else { 
                <div>:00 PM</div>
            }
            </td>
        @for (var day = 0; day < 7; day++) {
            <td>
            @if (Model.calendarTableData[day, time] != null && !String.IsNullOrEmpty(Model.calendarTableData[day, time].AppointmentValue)) {
                @Html.ActionLink(Model.calendarTableData[day, time].AppointmentValue, "Edit", new { id = Model.calendarTableData[day, time].ID })
                using (Html.BeginForm("Delete", "Time", new RouteValueDictionary { { "id", @Model.calendarTableData[day, time].ID } })) {
                    <input type="submit" value="Delete" /> 
                }
            } else { 
                @Html.ActionLink("________", "Create", new { Day = day, Time = time })
            }
            </td>
        }
        </tr>
    }
    
</table>



